*{
    margin:0;
    padding: 0;
}

body{
    font-family: sans-serif;
    font-size: 15px; 
}
h1{
    font-family: serif;
    font-size: 100px;
    color: #444;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}

header{
    height: 200px;
    background-image: url(images/headphoto.jpg);
    
}
header h1 
{
    float: left;
    margin-top: 150px;
    margin-left: 200px;
  
}
header nav {
    float: right;
    margin-top:200px;
    margin-right: 200px;
     background-color:  #444;
    height: 40px;
    
}
header nav ul li 
{
    display: inline-block;
    margin-top: 10px;
   
}
header nav ul li a{
    text-transform: uppercase;
    font-weight: bold;
    margin: 40px;   
}
